* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* 1. Start hearder */
header {
    border: 2px solid red;
    width: 100%;
    margin: auto;
    max-width: 1200px;
    height: 100px;
    padding: 30px 0px;
}
.header__container {
    display: flex;
    align-items: center;
    height: 100%;
    position:relative;
}
header nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
header nav i {
    margin-left: 5px;
}
header .navbar {
    border: 2px solid red;
    position: absolute;
    right: 0;
    display: flex;
}
header nav {
    border: 2px solid red;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
header button {
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
}
/* 1. End header */

/* 2. Start banner */
.banner {
    background-image: url(../IMG/bg2.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.banner__container {
    padding: 60px 120px;
    border:3px solid blue;
    height: 100%;
    display: flex;
    gap: 40px;
}
.banner__content {
    width: 60%;
    border:3px solid red;
}
.banner__content h2 {
    color: #f55f8d;
}
.banner__content h1 {
    font-size: 70px;
}
.banner__content p {
    margin: 20px 0px;
    color: #777777;
    font-size: 18px;
}
.banner__picture {
    width: 40%;
    height: auto;
    background-image: url(../IMG/pic3_1.png);
    background-position: center;
    border:3px solid red;
    background-repeat: none;
    background-size: cover;
}
.banner button {
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}
.outstanding-values .check-point{
    width: 40px;
    height: 40px;
    background-color: #f55f8d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.outstanding-values p {
    font-size: 20px;
}
.outstanding-values {
    display: flex;
    align-items: center;
}
/* 2. End banner */

/* 3. Start digital services */
.DigitalServices {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 3px solid purple;
}
.DigitalServices__content {
    border:3px solid red;
    text-align: center;
}
.DigitalServices__content h2 {
    color: #f55f8d;
}
.DigitalServices__content h1 {
    font-size: 70px;
}
.DigitalServices__list {
    display: flex;
    gap: 30px;
    padding: 0px 60px;
    margin: 40px;
}
.DigitalServices__items {
    border: 2px solid purple;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0px 0px 35px #c5c5c5 ;
}
.DigitalServices__items h1 {
    margin: 20px;
}
.DigitalServices__items img {
    width: 300px;
    height: auto;
    padding: 30px;
}
/* 3. End digital services */


/* 4. Start about us */
.AboutUs {
    height: 100vh;
}
.AboutUs__container {
    padding: 60px 120px;
    border:3px solid blue;
    height: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
}
.AboutUs__picture {
    width: 40%;
    height: 80%;
    background-image: url(../IMG/pic1.jpg);
    background-position: right;
    border-radius: 0px 60px 60px 0px;
    background-size: cover;
}
.AboutUs__content {
    width: 60%;
    border:3px solid red;
}
.AboutUs__content h2 {
    color: #f55f8d;
}
.AboutUs__content h1 {
    font-size: 70px;
}
.AboutUs__content p {
    margin: 10px 0px;
    color: #777777;
    font-size: 18px;
}
.AboutUs-values {
    display: flex;
    align-items: center;
}
.AboutUs-values i {
    font-size: 24px;
    margin-right: 10px;
}
.AboutUs button {
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    margin-top: 20px;
}
/* 4. End about us */

/* 8. Start your plan */
.YourPlan__container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.YourPlan__groups {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 60px;
    width: 100%;
    margin: 40px;
}
.YourPlan__items {
    border:3px solid palegreen;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 0px 35px #c5c5c5 ;
    border-radius: 12px;
    width: 100%;
}
.YourPlan__content {
    border:3px solid red;
    text-align: center;
}
.YourPlan__content h2 {
    color: #f55f8d;
}
.YourPlan__content h1 {
    font-size: 40px;
}
.YourPlan-values {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.YourPlan-values .value-check{
    width: 30px;
    height: 30px;
    background-color: #ffc8d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#f55f8d;
    font-size: 16px;
    margin-right: 10px;
}
.YourPlan-values p {
    font-size: 20px;
}
.YourPlan__content {
    border:3px solid red;
}
.YourPlan__list {
    border:3px solid purple;
}
.YourPlan__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.YourPlan__content img {
    width: 200px;
    padding: 30px;
}
.YourPlan__price {
    display: flex;
    align-items: center;
}
.YourPlan__price h1 {
    color: #f8ae56;
}
.YourPlan button {
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    width: 200px;
    margin: auto;
}
/* 8. End your plan */